@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$light-number-color: black;
$light-tittle-color: black;
$subtittle-color:  rgb(141, 141, 141);
$dark-number-color: white;
$dark-tittle-color: white;



#tot{
    width: 1440px;
}
*{
    margin: 0px;
    padding: 0px;
}
#header{
    display: flex;
    flex-direction: row;
   }
#button{
    margin-left: 650px;
    display: flex;
    & p{
        font-family: 'Roboto',sans-serif;
        color: $subtittle-color;
        margin-top: 37px;
    }
    & #theme{
        margin-top: 10px;
        margin-left: 15px;
    }

 }
 #titulo{
    margin-left: 117px;
    margin-top: 30px;
    & p {
        color: $subtittle-color;
        font-size: 15px;
        font-family: 'Roboto',sans-serif;

    }
    & h3{
        color: $light-tittle-color;
        font-size: 30px;
        font-family: 'Roboto',sans-serif;
    }
}



 #divs{
    display: flex;
    margin-left: 162px;
    margin-top: 25px;
 }
 #twit{
    border-radius: 5px 5px 5px 5px;
    border-top: 5px solid blue;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    margin: 14px;
    background-color: rgb(240, 240, 240);
    align-items: center;
     & p{
        font-family: 'Roboto',sans-serif;
        color: rgb(50, 179, 118);
        margin-top: 25px;
    }
     & #imgt{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        & p{
            color: $subtittle-color;
            margin-top: 27px;
     }
     & #icont{
        margin: 4px;
        margin-top:25px;
     }
     }
     & h1{
        margin-top: 20px;
        font-family: 'Roboto',sans-serif;
        font-weight: 1000;
        font-size: 45px;
     }
     & h3{
        font-size: 14px;
       color: $subtittle-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
     }
 }
 #insta{
    border-radius: 5px 5px 5px 5px;
    border-top: 5px solid ;
    border-image: linear-gradient(to right, rgb(223, 152, 94), #eb2d95) 1;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    margin: 14px;
    background-color: rgb(240, 240, 240);
    align-items: center;
     & p{
        font-family: 'Roboto',sans-serif;
        color: rgb(50, 179, 118);
        margin-top: 25px;
    }
     & #imgt{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        & p{
            color: rgb(85, 85, 85);
            margin-top: 27px;
     }
     & #icont{
        margin: 4px;
        margin-top:25px;
     }
     }
     & h1{
        margin-top: 20px;
        font-family: 'Roboto',sans-serif;
        font-weight: 1000;
        font-size: 45px;
     }
     & h3{
        font-size: 14px;
       color: rgb(141, 141, 141);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
     }
 }
 #yout{
    border-radius: 5px 5px 5px 5px;
    border-top: 5px solid rgb(223, 25, 25);
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    margin: 14px;
    background-color: rgb(240, 240, 240);
    align-items: center;
     & p{
        font-family: 'Roboto',sans-serif;
        color: rgb(179, 50, 50);
        margin-top: 25px;
    }
     & #imgt{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        & p{
            color: rgb(85, 85, 85);
            margin-top: 27px;
     }
     & #icont{
        margin: 4px;
        margin-top:25px;
     }
     }
     & h1{
        margin-top: 20px;
        font-family: 'Roboto',sans-serif;
        font-weight: 1000;
        font-size: 45px;
     }
     & h3{
        font-size: 14px;
       color: rgb(141, 141, 141);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
     }
 }
 #textcen{
    font-size: 12px;
    margin-left: 117px;
    margin-top: 20px;
    & h1{
        color:  rgb(141, 141, 141);
        font-family: 'Roboto',sans-serif;
    }

 }
 #down{
    display: flex;
    flex-direction: row;
    margin-left: 162px;
 }
 #a{
    font-family: 'Roboto',sans-serif;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
    height: 110px;
    display: flex;
    background-color: rgb(240, 240, 240);
    margin: 14px;
    flex-direction: column;
 }
 #ab{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 110px;
        margin-top: 23px;
    }

 }
 #ac{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 129);
        font-size: 14px;
        margin-left: 147px;
        margin-top: 28px;
    }
 }
 #bb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 150px;
        margin-top: 23px;
    }

 }
 #bc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(204, 43, 43);
        font-size: 14px;
        margin-left: 147px;
        margin-top: 28px;
    }
 }
 #cb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 150px;
        margin-top: 23px;
    }

 }
 #cc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 129);
        font-size: 14px;
        margin-left: 87px;
        margin-top: 28px;
    }
 }
 #db{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 95px;
        margin-top: 23px;
    }

 }
 #dc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 129);
        font-size: 14px;
        margin-left: 100px;
        margin-top: 28px;
    }
 }
 #eb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 128px;
        margin-top: 23px;
    }

 }
 #ec{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 129);
        font-size: 14px;
        margin-left: 117px;
        margin-top: 28px;
    }
 }
 #fb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 150px;
        margin-top: 23px;
    }

 }
 #fc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 105);
        font-size: 14px;
        margin-left: 113px;
        margin-top: 28px;
    }
 }
 #gb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 150px;
        margin-top: 23px;
    }

 }
 #gc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(204, 43, 43);
        font-size: 14px;
        margin-left: 125px;
        margin-top: 28px;
    }
 }
 #hb{
    display: flex;
    flex-direction: row;
    & p{
        font-size: 15px;
        color:  rgb(85, 85, 85);
        margin-left: 20px;
        margin-top: 25px;
        font-weight: 600;
    }
    & img{
        margin-left: 106px;
        margin-top: 23px;
    }

 }
 #hc{
    display: flex;
    flex-direction: row;
    & h2{
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 15px;
    }
    & p{
        color: rgb(43, 204, 129);
        font-size: 14px;
        margin-left: 100px;
        margin-top: 28px;
    }
 }
 #theme:checked ~ content{

    & h3{
        color: $dark-tittle-color;
    }
 }
 

